* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
    max-width: 1200px;
  background-color: #777;
  margin: 0px auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8257f8;
  width: 100%;
  height: 100px;
}
.header__container {
  display: flex;
  align-items: center;
  margin: 50px;
}
.header__title {
  font-size: 24px;
  line-height: 30px;
  padding: 15px 30px 0px 15px;
}

.content {
  min-height: calc(100vh - 100px);
  width: 100%;
  margin: 0 auto;
  background-color: azure;
}
.content__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px auto;
}
.card {
  display: flex;
  background-color: burlywood;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px;
  width: 33.333%;
  padding: 30px;
}
.card__title {
  font-size: 30px;
  line-height: 35px;
  padding: 15px;
}
.card img {
  position: relative;
  width: 100%;
}
.card article {
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
}
.card__btn {
  display: block;
  margin: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: rgb(24, 3, 141);
  text-align: center;
  border-radius: 5px;
  background-color: #8257f88a;
  text-decoration: none;
}
.card__btn:hover {
  cursor: pointer;
}
.card img {
  transition: transform 1s;
}
.card img:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px rgba(255, 172, 94, 0.61);
  cursor: pointer;
}
.card__img:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  background: #aa2cff;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: -300px;
  border-radius: 3px;
}
@media (min-width: 1000px) and (max-width:1200px) {
    .card {
      flex: 0 1 40%;
    }
    .content__container {
      justify-content: center;
    }
  }
@media (max-width: 1000px) {
  .card {
    flex: 0 1 50%;
  }
  .content__container {
    justify-content: center;
  }
  .card__img:hover::after {
    margin-left: -300px;
  }
}
@media (max-width: 760px) {
  .card {
    flex: 0 1 65%;
  }
  .content__container {
    justify-content: center;
  }
}
@media (max-width: 550px) {
    .card {
      flex: 0 1 65%;
    }
    .content__container {
      justify-content: center;
    }
    .card__img:hover::after {
      margin-left: -215px;
      font-size: 14px;
    }
  }
  @media (max-width: 400px) {
    .card {
      flex: 0 1 80%;
    }
    .content__container {
      justify-content: center;
    }
    .card__img:hover::after {
      font-size: 10px;
      margin-left: -150px;
    }
  }
  @media (max-width: 300px) {
    .card {
      flex: 0 1 80%;
    }
    .content__container {
      justify-content: center;
    }
    .card__img:hover::after {
      font-size: 10px;
      margin-left: -150px;
    }
    .card__desc {
        padding: 0;
    }
  }